<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> ADMIN PAGE </title>
</head>
<body>

<h1>ADMIN MAIN PAGE</h1>
<!--<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>-->

<div>
    <!--<a href="/admin/member"> 회원 관리 </a>
    <a href="/admin/hashtag"> 해시태그 관리 </a>
    <a href="/admin/group"> 그룹 관리 </a>-->
</div>
<div layout:fragment="content">

    <form action="/admin" role="form" method="post"><!-- th:object="${memberDto}"-->
        <div style="text-align:center" class="py-3">
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/logout'">로그아웃</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
    </form>
</div>

</body>
</html>