<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Info</title>
</head>
<body>

<h1 th:text="${group.name}"></h1>
<p>그룹 목표<img th:src="${group.imagePath}" alt="그룹 대표 사진">: <span th:text="${group.goal}"></span></p>
<p>그룹 설명: <span th:text="${group.description}"></span></p>
<p>인원수: <span th:text="${group.headCount}"></span></p>
<button type="button" class="btn btn-outline-dark" th:attr="data-href=@{'/group/join/' + ${group.name}}" onclick="location.href=this.dataset.href">참여하기</button>
<button type="button" class="btn btn-outline-dark" onclick="location.href='/member/groups'">돌아가기</button>
</body>
</html>
